@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');


*{
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Nanum Gothic", Helvetica, sans-serif;
}

body{
    margin: 0;
}

.container{
    width: max(1100px, 100vw); 
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex: auto;
}

.logoArea{
    width: 40%;
    overflow: hidden;
    position: relative;
    background-image: url(./sakura.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 30px;
}

header{
    display: flex;
    align-items: center;
    position:absolute;
    top: 30%;
    width: 100%;
    background-color: rgba(233, 233, 233, 0.4);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(233, 233, 233, 0.4);
}

/* .branch{
    height:8rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(82deg) brightness(104%) contrast(102%);
} */

.logoText{
    padding: 2rem;
    font-size: 6rem;
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 10px rgb(150, 150, 150);
}

.signupArea{
    width: 60%;
    background-color: rgb(255, 248, 238);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 3rem;

}

.signup{
    margin: 0;
    padding: 3rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(150, 150, 150) 0px 0.5px 8px 1px;
}

legend{
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

h1{
    margin: 0;
    padding: 0 0 0 2rem;
    font-size: 1rem;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

label{
    padding:1rem 0 0.5rem 0;
}

input{
    width: 20ch;
    height: 1.5rem;
    padding:0.5rem;
    font-size: 1.25rem;
}
 
.fieldLeft,
.fieldRight{
    display: flex;
    flex-direction: column;
}

/* .nameFirst,
.nameLast,
.contEmail,
.contPhone,
.firstPass,
.checkPass{
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
} */

.footer{
    font-size: 1rem;
    padding: 0 5rem 0 5rem;
}

.blurb{
    font-size: 1.5rem;
    padding: 0 5rem 0 5rem;
}

.logIn{
    padding-top: 1rem;
}


a{
    color: rgb(62, 149, 231);
}

button{
    font-family: inherit;
    background-color: rgb(252, 220, 226);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
}

button:hover{
    cursor: pointer;
    background-color: rgb(255, 234, 238);
}

button:active{
    scale: 1.1;
}
