@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nanum+Gothic&display=swap');


*{
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Lora", Helvetica, sans-serif;
}

body{
    height: 100vh;
    min-width: 100vw;
    background-image: url(./river.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

header{
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

header>i{
    color: white;
    scale: 120%;
    margin-left: auto;
}

h1{
    margin: 0;
    font-family: "Nanum Gothic", Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    letter-spacing: 0.2ch;  
}


